<!DOCTYPE html>
<html>
<head>
  <title>Slax</title>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond:600,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

  <%= render 'application/favicon' %>

  <script src="https://js.pusher.com/4.1/pusher.min.js"></script>

  <script>
    Pusher.logToConsole = true;

    var pusher = new Pusher('2368b1d2b3bf3d271a72', {
      cluster: 'us2',
      encrypted: true
    });
  </script>
</head>

<body>
  <%= yield %>
</body>
</html>
